@font-face {
  font-family: 'Ginto';
  src: url('https://gumpigabi.github.io/pf/f/ABCGintoNord-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('https://gumpigabi.github.io/pf/f/Aeonik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AeonikMedium';
  src: url('https://gumpigabi.github.io/pf/f/Aeonik-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4 {
  font-family: 'Ginto' !important;
}

.sqsrte-large,
.sqsrte-small {
  font-family: 'Aeonik' !important;
}

p,
ul.nested-category-children,
.sqs-block-button-element--large {
  font-family: 'AeonikMedium' !important;
}
