@font-face {
  font-family: 'Ginto';
  src: url('https://raw.githubusercontent.com/gumpigabi/pf/main/.f/ABCGintoNord-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('https://raw.githubusercontent.com/gumpigabi/pf/main/.f/Aeonik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AeonikMedium';
  src: url('https://raw.githubusercontent.com/gumpigabi/pf/main/.f/Aeonik-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Ginto' !important;
}

h2 {
  font-family: 'Ginto' !important;
}

h3 {
  font-family: 'Ginto' !important;
}

h4 {
  font-family: 'Ginto' !important;
}

.sqsrte-large {
  font-family: 'Aeonik' !important;
}

p {
  font-family: 'AeonikMedium' !important;
}

.sqsrte-small {
  font-family: 'Aeonik' !important;
}

ul.nested-category-children {
  font-family: 'AeonikMedium' !important;
}

&.sqs-block-button-element--large {
  font-family: 'AeonikMedium' !important;
}
